* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.text-center {
    text-align: center;
}

header {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(116, 206, 241) !important;
    border: 1px solid #0d0b0b;
    border-radius: 20px;
    text-align: center;
}

main {
    height: auto;
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: rgb(152, 219, 245) !important;
    border: 1px solid #0f0e0e;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#cat-facts-container {
    width: 100%;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 10px;
}
